/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
  font-family: atten-new, sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 10%;
  max-width: 1280px;
  margin: 0 auto;
}

.section-title {
  font-size: 40px;
  margin-bottom: 75px;
}

p {
  font-family: a-otf-gothic-bbb-pr6n, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

header .container {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  opacity: 0.9;
  position: fixed;
  top: 0px;
}

header .container #header-logo a {
  font-weight: 600;
  background-color: #afda7f;
  padding: 10px;
  border-radius: 5px;
}

header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container nav ul li {
  margin-left: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .container nav ul li:hover {
  opacity: 0.7;
  text-decoration: underline;
}

header .container nav ul li a {
  font-size: 18px;
}

.main-wrapper .mainvisiual {
  background-image: url(top.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
}

.main-wrapper section {
  padding-top: 130px;
  padding-bottom: 100px;
}

.main-wrapper #about .contents {
  max-width: 700px;
  text-align: center;
}

.main-wrapper #about .contents p {
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}

.main-wrapper #products {
  background-color: #F6F6F6;
}

.main-wrapper #products .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-wrapper #products .contents .product-title {
  font-size: 22px;
  text-align: center;
}

.main-wrapper #products .contents .product {
  display: inline-block;
  width: 31%;
  background-color: white;
  border-radius: 5px;
  padding: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-wrapper #products .contents .product:hover {
  opacity: 0.7;
}

.main-wrapper #products .contents .product img {
  width: 100%;
  margin: 10px 0;
}

.main-wrapper #products .contents .product p {
  font-size: 12px;
  margin: 0 4%;
  line-height: 23px;
}
/*# sourceMappingURL=stylesheet.css.map */
